* {
    position: relative;
    width: 290px;
    height: 142px;
    background: #FFFFFF;
}


/* Logo of coffee */

* {
    /* Logo of coffee */
    position: relative;
    width: 331px;
    height: 199px;
    background: #FFFFFF;
}


/* fonts */

* {
    position: relative;
    width: 469px;
    height: 316px;
    background: #FFFFFF;
}